body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 100vh;
}

.results {
    font-size: 16px;
}

.desc {
    background-color: rgba(215, 255, 156, 0.185);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    font-size: 20px;
}
